<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Incoming challenges</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css" />
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.js"></script>
    </head>
    <body style="background-color:antiquewhite">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="d-flex flex-grow-1">
                <form class="mr-sm-2 my-auto d-inline-block order-1" action="/challenges" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control border border-right-0" placeholder="Search..." name="search" th:value="${search}">
                        <span class="input-group-append">
                                <button class="btn btn-outline-light border border-left-0" type="button"
                                        onclick="this.parentNode.parentNode.parentNode.submit();">Search</button>
                            </span>
                    </div>
                </form>
            </div>
            <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="navbar7">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/main" method="get">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Main page</a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row" style="width: 100%; margin: auto">
            <div class="col-xl" th:if="${challengeAccepted}" style="padding-left: 0; padding-right: 0">
                <div class="alert alert-success" role="alert" style="margin: 0; text-align: center">
                    Challenge accepted.
                </div>
            </div>
            <div class="col-xl" th:if="${error}" style="padding-left: 0; padding-right: 0">
                <div class="alert alert-danger" role="alert" style="margin: 0; text-align: center">
                    An unexpected error occurred. Please try again later.
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-10 offset-md-1">
                    <p style="text-align: center; margin: 20% 0" th:if="${challenges.isEmpty()}">No results.</p>
                    <table class="table">
                        <tbody>
                            <tr th:each="challenge : ${challenges}">
                                <th scope="row">
                                    vs <span th:text="${challenge.from.login}"></span><br />
                                    (<span th:text="${#numbers.formatDecimal(challenge.from.rating, 0, 1, 'POINT')}"></span>)
                                </th>
                                <td style="width: 15%; vertical-align: middle">
                                            <span th:text="*{challenge.targetColor.name().equals('WHITE')}
                                                            ? '&#9812;&nbsp;white'
                                                            : '&#9818;&nbsp;black'">
                                            </span>
                                </td>
                                <td style="width: 15%; vertical-align: middle">
                                    <form action="/challenge/accept" method="post">
                                        <input type="hidden" name="id" th:value="${challenge.id}" />
                                        <input type="hidden" name="page" th:value="${page}" />
                                        <input type="hidden" name="to_previous_page"
                                               th:value="${challenges.getNumberOfElements() == 1 && page > 1}" />
                                        <input type="hidden" name="from_challenges" value="true" />
                                        <button type="submit" class="btn btn-dark">Accept</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form action="/challenges" method="get" id="previous-page">
                        <input type="hidden" name="page" th:value="${page - 1}" />
                        <input type="hidden" name="search" th:value="${search}" />
                    </form>
                    <form action="/challenges" method="get" id="next-page">
                        <input type="hidden" name="page" th:value="${page + 1}" />
                        <input type="hidden" name="search" th:value="${search}" />
                    </form>
                    <div class="btn-group d-flex" role="group" aria-label="navigation-mobile" style="margin: 16px"
                         th:if="${page != 1 || challenges.hasNext()}">
                        <button type="button" class="btn btn-dark col-md-3 offset-md-3" th:disabled="${page < 2}"
                                onclick="document.getElementById('previous-page').submit();">Previous page</button>
                        <button type="button" class="btn btn-dark col-md-3 offset-md-6" th:disabled="${!challenges.hasNext()}"
                                onclick="document.getElementById('next-page').submit();">Next page</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>