<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title th:text="'Game vs ' + (*{game.white.equals(user)} ? ${game.black.login} : ${game.white.login})">
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css" />
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="/chess_board.js"></script>
    </head>
    <body style="background-color:antiquewhite" th:onload="'drawInitialBoard(' + ${game.id} + ', ' + ${user.id == game.black.id} + ')'">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand mb-0 h1">
                Game&nbsp;vs&nbsp;<span th:text="*{game.white.equals(user)} ? ${game.black.login} : ${game.white.login}"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar7" aria-controls="navbar7">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/app/games" method="get">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">All games</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/app/main" method="get">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Main page</a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="width: 100%" id="alerts">
            <div class="row" th:if="${legalMove}" style="width: 100%; margin: auto">
                <div class="alert alert-success" role="alert" style="width: 100%; margin-bottom: 0; text-align: center">
                    The move has been made.
                </div>
            </div>
            <div class="row" th:if="${illegalMove}" style="width: 100%; margin: auto">
                <div class="alert alert-warning" role="alert" style="width: 100%; margin-bottom: 0; text-align: center">
                    The move you made is illegal. Please make a legal move.
                </div>
            </div>
            <div class="row" th:if="${game.completed}" style="width: 100%; margin: auto">
                <div class="alert alert-info" role="alert" style="width: 100%; margin-bottom: 0; text-align: center"
                     th:text="${game.description}">
                </div>
            </div>
            <div class="row" th:if="${!game.completed && !game.playerToMove.equals(user)}" style="width: 100%; margin: auto">
                <div class="alert alert-info" role="alert" style="width: 100%; margin-bottom: 0; text-align: center">
                    Opponent to move.
                </div>
            </div>
            <div class="row" th:if="${error}" style="width: 100%; margin: auto">
                <div class="alert alert-danger" role="alert" style="width: 100%; margin-bottom: 0; text-align: center">
                    An unexpected error occurred. Please try again later.
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2" id="chess-board-navigation">
                    <div class="row">
                        <table id="chess-board" style="border-spacing: 0; border-collapse: collapse; margin: 8px auto auto; font-family: sans-serif">
                        </table>
                    </div>
                    <div class="row" style="margin: 8px auto auto">
                        <div th:if="${game.playerToMove.equals(user) && !game.completed}" style="width: 100%">
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label for="square1">From:</label>
                                    <select id="square1" name="square1" class="form-control" form="make-move">
                                        <option th:each="square : ${squares}" th:value="${square}" th:text="${square}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-3">
                                    <label for="square2">To:</label>
                                    <select id="square2" name="square2" class="form-control" form="make-move">
                                        <option th:each="square : ${squares}" th:value="${square}" th:text="${square}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label for="promotion">Promotion&nbsp;piece:</label>
                                    <select id="promotion" name="promotion" class="form-control" form="make-move">
                                        <option></option>
                                        <option value="q">Queen</option>
                                        <option value="r">Rook</option>
                                        <option value="b">Bishop</option>
                                        <option value="n">Knight</option>
                                    </select>
                                    <small class="form-text text-muted">Leave empty if not a pawn promotion.</small>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <form action="/app/move" method="post" id="make-move">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                        <input type="hidden" name="game_id" th:value="${game.id}" />
                                        <button type="submit" class="btn btn-dark" style="width: 100%">Make a move</button>
                                    </form>
                                </div>
                                <div class="form-group col-6">
                                    <form action="/app/resign" method="post" id="resign">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                        <input type="hidden" name="game_id" th:value="${game.id}" />
                                        <button type="button" class="btn btn-danger" style="width: 100%"
                                                data-toggle="modal" data-target="#resign-modal">Resign</button>
                                        <div class="modal fade" id="resign-modal" data-backdrop="static" data-keyboard="false"
                                             tabindex="-1" aria-labelledby="resign-modal-label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="resign-modal-label">Confirm resignation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-danger">Resign the game</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>