<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Main page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css" />
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.js"></script>
    </head>
    <body style="background-color:antiquewhite">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand mb-0 h1">
                <span th:text="${user.login}"></span>&nbsp;(<span th:text="${user.rating}"></span>)
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar7" aria-controls="navbar7">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/challenge/step1" method="get">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Create challenge</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Logout</a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <p></p>
        <th:block th:if="${challengeCreated}">
            <table style="width: 100%; border: 1px solid darkgreen">
                <tbody>
                <tr>
                    <td>
                        <p style="text-align: center; color: darkgreen"> Challenge created.
                    </td>
                </tr>
                </tbody>
            </table>
            <p></p>
        </th:block>
        <th:block th:if="${challengeAccepted}">
            <table style="width: 100%; border: 1px solid darkgreen">
                <tbody>
                <tr>
                    <td>
                        <p style="text-align: center; color: darkgreen"> Challenge accepted.
                    </td>
                </tr>
                </tbody>
            </table>
            <p></p>
        </th:block>
        <th:block th:if="${error}">
            <table style="width: 100%; border: 1px solid darkred">
                <tbody>
                <tr>
                    <td>
                        <p style="text-align: center; color: darkred"> An unexpected error occurred. Please try again later.
                    </td>
                </tr>
                </tbody>
            </table>
            <p></p>
        </th:block>
        <table style="width: 100%; border: 1px solid black">
            <tbody>
            <tr>
                <td style="width: 50%; border: 1px solid black; align-content: center">
                    <p style="text-align: center" th:if="${#lists.isEmpty(incomingChallenges)}"> No incoming challenges found.</p>
                    <th:block th:if="${!#lists.isEmpty(incomingChallenges)}">
                        <p style="text-align: center"> Incoming challenges
                        <table style="width: 90%; margin: auto">
                            <tbody>
                            <tr th:each="challenge : ${incomingChallenges}">
                                <td style="width: 75%; border: 1px solid black">
                                    <p style="padding-left: 1%; text-align: left">
                                        vs <span th:text="${challenge.getFrom().getLogin()}"></span>
                                        (<span th:text="${challenge.getFrom().getRating()}"></span>)
                                </td>
                                <td style="width: 15%; border: 1px solid black">
                                    <p style="text-align: center">
                                                <span th:text="*{challenge.getTargetColor().name().equals('WHITE')}
                                                                ? '&#9812;&nbsp;white'
                                                                : '&#9818;&nbsp;black'">
                                                </span>
                                </td>
                                <td style="width: 10%; border: 1px solid black">
                                    <form action="/challenge/accept" method="post">
                                        <input type="hidden" name="id" th:value="${challenge.getId()}" />
                                        <p style="text-align: center">
                                            <input type="submit" value="Accept">
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="text-align: center">
                            &nbsp;<form action="/challenges" method="get" th:if="${canViewAllChallenges}">
                        <p style="text-align: center">
                            <input type="submit" value="View all incoming challenges">
                    </form>
                    </th:block>
                </td>
                <td style="width: 50%; border: 1px solid black; align-content: center">
                    <p style="text-align: center" th:if="${#lists.isEmpty(games)}"> No games found.</p>
                    <th:block th:if="${!#lists.isEmpty(games)}">
                        <p style="text-align: center"> My games
                        <table style="width: 90%; margin: auto">
                            <tbody>
                            <tr th:each="game : ${games}">
                                <td style="width: 75%; border: 1px solid black">
                                    <p style="padding-left: 1%; text-align: left" th:if="${user.equals(game.getWhite())}">
                                        vs <span th:text="${game.getBlack().getLogin()}"></span>
                                        (<span th:text="${game.getBlack().getRating()}"></span>)
                                    <p style="padding-left: 1%; text-align: left" th:if="${user.equals(game.getBlack())}">
                                        vs <span th:text="${game.getWhite().getLogin()}"></span>
                                        (<span th:text="${game.getWhite().getRating()}"></span>)
                                </td>
                                <td style="width: 15%; border: 1px solid black">
                                    <p style="text-align: center">
                                                <span style="color: darkgreen"
                                                      th:if="*{user.equals(game.getPlayerToMove()) && !game.isCompleted()}">
                                                    ● My move
                                                </span>
                                        <span th:if="*{!user.equals(game.getPlayerToMove()) && !game.isCompleted()}">
                                                    His move
                                                </span>
                                        <span style="color: dimgrey" th:if="*{game.isCompleted()}">Completed</span>
                                </td>
                                <td style="width: 10%; border: 1px solid black">
                                    <form action="/game" method="get">
                                        <input type="hidden" name="id" th:value="${game.getId()}" />
                                        <p style="text-align: center">
                                            <input type="submit" value="Open">
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="text-align: center">
                            &nbsp;<form action="/games" method="get" th:if="${canViewAllGames}">
                        <p style="text-align: center">
                            <input type="submit" value="View all games">
                    </form>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>