<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Main page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css" />
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.js"></script>
        <style>
            .nav-pills .nav-link.active {
                background-color: black !important;
            }
            .nav-pills .nav-link:not(.active) {
                color: black !important;
            }
        </style>
    </head>
    <body style="background-color:antiquewhite">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand mb-0 h1">
                <span th:text="${user.login}"></span>&nbsp;(<span th:text="${user.rating}"></span>)
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar7" aria-controls="navbar7">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/challenge/step1" method="get">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Create challenge</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Logout</a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-xl" th:if="${challengeCreated}">
                <div class="alert alert-success" role="alert" style="margin: 0">
                    Challenge created.
                </div>
            </div>
            <div class="col-xl" th:if="${challengeAccepted}">
                <div class="alert alert-success" role="alert" style="margin: 0">
                    Challenge accepted.
                </div>
            </div>
            <div class="col-xl" th:if="${error}">
                <div class="alert alert-danger" role="alert" style="margin: 0">
                    An unexpected error occurred. Please try again later.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl d-lg-none">
                <ul class="nav nav-pills nav-justified mb-2" id="pills-tab" role="tablist" style="margin: 16px">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="challenges-tab" data-toggle="pill" href="#challenges" role="tab" aria-controls="challenges" aria-selected="true">Incoming challenges</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="games-tab" data-toggle="pill" href="#games" role="tab" aria-controls="games" aria-selected="false">My games</a>
                    </li>
                </ul>
                <div class="tab-content" id="main-tab-content">
                    <div class="tab-pane fade show active table-responsive-sm" id="challenges" role="tabpanel" aria-labelledby="challenges">
                        <table class="table">
                            <tbody>
                                <tr th:each="challenge : ${incomingChallenges}">
                                    <th scope="row">
                                        vs <span th:text="${challenge.from.login}"></span><br />
                                        (<span th:text="${challenge.from.rating}"></span>)
                                    </th>
                                    <td style="width: 15%; vertical-align: middle">
                                        <span th:text="*{challenge.getTargetColor().name().equals('WHITE')}
                                                        ? '&#9812;&nbsp;white'
                                                        : '&#9818;&nbsp;black'">
                                        </span>
                                    </td>
                                    <td style="width: 15%; vertical-align: middle">
                                        <form action="/challenge/accept" method="post">
                                            <input type="hidden" name="id" th:value="${challenge.id}" />
                                            <button type="submit" class="btn btn-dark">Accept</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form action="/challenges" method="get" th:if="${canViewAllChallenges}" style="margin: 16px">
                            <button type="submit" class="btn btn-dark" style="width: 100%">View all incoming challenges</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games">
                        <table class="table">
                            <tbody>
                                <tr th:each="game : ${games}">
                                    <th scope="row" th:if="${user.equals(game.white)}">
                                        vs <span th:text="${game.black.login}"></span><br />
                                        (<span th:text="${game.black.rating}"></span>)
                                    </th>
                                    <th scope="row" th:if="${user.equals(game.black)}">
                                        vs <span th:text="${game.white.login}"></span><br />
                                        (<span th:text="${game.white.rating}"></span>)
                                    </th>
                                    <td style="width: 25%; vertical-align: middle">
                                        <span style="color: darkgreen" th:if="*{user.equals(game.playerToMove) && !game.completed}">
                                           ● My move
                                        </span><span th:if="*{!user.equals(game.playerToMove) && !game.completed}">
                                            His move
                                        </span>
                                        <span style="color: dimgrey" th:if="*{game.completed}">Completed</span>
                                    </td>
                                    <td style="width: 15%; vertical-align: middle">
                                        <form action="/game" method="get">
                                            <input type="hidden" name="id" th:value="${game.id}" />
                                            <button type="submit" class="btn btn-dark">Open</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form action="/games" method="get" th:if="${canViewAllGames}" style="margin: 16px">
                            <button type="submit" class="btn btn-dark" style="width: 100%">View all games</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>