<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Main page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css" />
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.js"></script>
        <style>
            .nav-pills .nav-link.active {
                background-color: black;
            }
            .nav-pills .nav-link:not(.active) {
                color: black;
            }
        </style>
    </head>
    <body style="background-color:antiquewhite">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand mb-0 h1">
                <span th:text="${user.login}"></span>&nbsp;(<span th:text="${#numbers.formatDecimal(user.rating, 0, 1, 'POINT')}"></span>)
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar7" aria-controls="navbar7">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/app/challenge/step1" method="get">
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Create challenge</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <a class="nav-link" href="#" onclick="this.parentNode.submit();">Logout</a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row" style="width: 100%; margin: auto">
            <div class="col-xl" th:if="${challengeCreated}" style="padding-left: 0; padding-right: 0">
                <div class="alert alert-success" role="alert" style="margin: 0; text-align: center">
                    Challenge created.
                </div>
            </div>
            <div class="col-xl" th:if="${challengeAccepted}" style="padding-left: 0; padding-right: 0">
                <div class="alert alert-success" role="alert" style="margin: 0; text-align: center">
                    Challenge accepted.
                </div>
            </div>
            <div class="col-xl" th:if="${error}" style="padding-left: 0; padding-right: 0">
                <div class="alert alert-danger" role="alert" style="margin: 0; text-align: center">
                    An unexpected error occurred. Please try again later.
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%; margin: auto">
            <div class="col-lg d-lg-none">
                <ul class="nav nav-pills nav-justified mb-2" id="pills-tab" role="tablist" style="margin: 16px">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="challenges-tab" data-toggle="pill" href="#challenges" role="tab" aria-controls="challenges" aria-selected="true">Incoming&nbsp;challenges</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="games-tab" data-toggle="pill" href="#games" role="tab" aria-controls="games" aria-selected="false">My games</a>
                    </li>
                </ul>
                <div class="tab-content" id="main-tab-content">
                    <div class="tab-pane fade show active table-responsive-sm" id="challenges" role="tabpanel" aria-labelledby="challenges">
                        <p style="text-align: center; margin: 20% 0" th:if="${incomingChallengesMobile.isEmpty()}">No incoming challenges.</p>
                        <table class="table">
                            <tbody>
                                <tr th:each="challenge : ${incomingChallengesMobile}">
                                    <th scope="row">
                                        vs <span th:text="${challenge.from.login}"></span><br />
                                        (<span th:text="${#numbers.formatDecimal(challenge.from.rating, 0, 1, 'POINT')}"></span>)
                                    </th>
                                    <td style="width: 15%; vertical-align: middle">
                                        <span th:text="*{challenge.targetColor.name().equals('WHITE')}
                                                        ? '&#9812;&nbsp;white'
                                                        : '&#9818;&nbsp;black'">
                                        </span>
                                    </td>
                                    <td style="width: 15%; vertical-align: middle">
                                        <form action="/app/challenge/accept" method="post">
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                            <input type="hidden" name="id" th:value="${challenge.id}" />
                                            <button type="submit" class="btn btn-dark">Accept</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form action="/app/challenges" method="get" th:if="${incomingChallengesMobile.hasNext()}" style="margin: 16px">
                            <button type="submit" class="btn btn-dark" style="width: 100%">View all incoming challenges</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games">
                        <p style="text-align: center; margin: 20% 0" th:if="${gamesMobile.isEmpty()}">No games.</p>
                        <table class="table">
                            <tbody>
                                <tr th:each="game : ${gamesMobile}">
                                    <th scope="row" th:if="${user.equals(game.white)}">
                                        vs <span th:text="${game.black.login}"></span><br />
                                        (<span th:text="${#numbers.formatDecimal(game.black.rating, 0, 1, 'POINT')}"></span>)
                                    </th>
                                    <th scope="row" th:if="${user.equals(game.black)}">
                                        vs <span th:text="${game.white.login}"></span><br />
                                        (<span th:text="${#numbers.formatDecimal(game.white.rating, 0, 1, 'POINT')}"></span>)
                                    </th>
                                    <td style="width: 15%; vertical-align: middle">
                                        <span style="color: darkgreen" th:if="*{user.equals(game.playerToMove) && !game.completed}">
                                            ●&nbsp;My&nbsp;move
                                        </span><span th:if="*{!user.equals(game.playerToMove) && !game.completed}">
                                            His&nbsp;move
                                        </span>
                                        <span style="color: dimgrey" th:if="*{game.completed}">Completed</span>
                                    </td>
                                    <td style="width: 15%; vertical-align: middle">
                                        <form action="/app/game" method="get">
                                            <input type="hidden" name="id" th:value="${game.id}" />
                                            <button type="submit" class="btn btn-dark">Open</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form action="/app/games" method="get" th:if="${gamesMobile.hasNext()}" style="margin: 16px">
                            <button type="submit" class="btn btn-dark" style="width: 100%">View all games</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg d-none d-lg-block">
                <p style="text-align: center; margin: 20% 0" th:if="${incomingChallenges.isEmpty()}">No incoming challenges.</p>
                <p style="text-align: center; margin: 16px" th:if="${!incomingChallenges.isEmpty()}"><b>Incoming challenges</b></p>
                <table class="table">
                    <tbody>
                        <tr th:each="challenge : ${incomingChallenges}">
                            <th scope="row">
                                vs <span th:text="${challenge.from.login}"></span><br />
                                (<span th:text="${#numbers.formatDecimal(challenge.from.rating, 0, 1, 'POINT')}"></span>)
                            </th>
                            <td style="width: 15%; vertical-align: middle">
                                            <span th:text="*{challenge.targetColor.name().equals('WHITE')}
                                                            ? '&#9812;&nbsp;white'
                                                            : '&#9818;&nbsp;black'">
                                            </span>
                            </td>
                            <td style="width: 15%; vertical-align: middle">
                                <form action="/app/challenge/accept" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <input type="hidden" name="id" th:value="${challenge.id}" />
                                    <button type="submit" class="btn btn-dark">Accept</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="/app/challenges" method="get" th:if="${incomingChallenges.hasNext()}" style="margin: 16px">
                    <button type="submit" class="btn btn-dark" style="width: 100%">View all incoming challenges</button>
                </form>
            </div>
            <div class="col-lg d-none d-lg-block">
                <p style="text-align: center; margin: 20% 0" th:if="${games.isEmpty()}">No games.</p>
                <p style="text-align: center; margin: 16px" th:if="${!games.isEmpty()}"><b>My games</b></p>
                <table class="table">
                    <tbody>
                        <tr th:each="game : ${games}">
                            <th scope="row" th:if="${user.equals(game.white)}">
                                vs <span th:text="${game.black.login}"></span><br />
                                (<span th:text="${#numbers.formatDecimal(game.black.rating, 0, 1, 'POINT')}"></span>)
                            </th>
                            <th scope="row" th:if="${user.equals(game.black)}">
                                vs <span th:text="${game.white.login}"></span><br />
                                (<span th:text="${#numbers.formatDecimal(game.white.rating, 0, 1, 'POINT')}"></span>)
                            </th>
                            <td style="width: 15%; vertical-align: middle">
                                            <span style="color: darkgreen" th:if="*{user.equals(game.playerToMove) && !game.completed}">
                                                ●&nbsp;My&nbsp;move
                                            </span><span th:if="*{!user.equals(game.playerToMove) && !game.completed}">
                                                His&nbsp;move
                                            </span>
                                <span style="color: dimgrey" th:if="*{game.completed}">Completed</span>
                            </td>
                            <td style="width: 15%; vertical-align: middle">
                                <form action="/app/game" method="get">
                                    <input type="hidden" name="id" th:value="${game.id}" />
                                    <button type="submit" class="btn btn-dark">Open</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="/app/games" method="get" th:if="${games.hasNext()}" style="margin: 16px">
                    <button type="submit" class="btn btn-dark" style="width: 100%">View all games</button>
                </form>
            </div>
        </div>
    </body>
</html>