<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Signup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css" />
        <script type="text/javascript" src="/verify_login.js"></script>
    </head>
    <body style="background-color:antiquewhite">
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-6 offset-md-3">
                    <div class="alert alert-danger" role="alert" th:if="${error}" style="margin: 16px; text-align: center">
                        An unexpected error occurred. Please try again later.
                    </div>
                    <form action="/signup" method="post" style="margin: 16px" th:object="${signupForm}">
                        <div class="form-group" id="login-form-group">
                            <label for="login">Login</label>
                            <input type="text" th:class="${#fields.hasErrors('login')} ? 'form-control is-invalid' : 'form-control'"
                                   id="login" name="login" placeholder="Login" aria-describedby="login_validation" th:value="${signupForm.login}"
                                   onfocusout="verifyLogin();">
                            <div th:if="${#fields.hasErrors('login')}" id="login_validation" class="invalid-feedback"
                                 th:errors="${signupForm.login}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                   id="password" name="password" placeholder="Password" aria-describedby="password_validation">
                            <div th:if="${#fields.hasErrors('password')}" id="password_validation" class="invalid-feedback"
                                 th:errors="${signupForm.password}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeat_password">Repeat password</label>
                            <input type="password" th:class="${#fields.hasGlobalErrors()} ? 'form-control is-invalid' : 'form-control'"
                                   id="repeat_password" name="repeatPassword" placeholder="Password" aria-describedby="confirm_password_validation">
                            <div th:if="${#fields.hasGlobalErrors()}" id="confirm_password_validation" class="invalid-feedback"
                                 th:errors="${signupForm}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark" style="width: 100%" id="signup-button">Sign up</button>
                    </form>
                    <form action="/login" method="get" style="margin: 16px">
                        <label for="logged_in">Already have an account?</label>
                        <button type="submit" class="btn btn-dark" style="width: 100%" id="logged_in">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>