<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Main page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css" />
    </head>
    <body style="background-color:antiquewhite">
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-6 offset-md-3">
                    <div class="alert alert-danger" role="alert" th:if="${error}" style="margin: 16px">
                        An unexpected error occurred. Please try again later.
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${forceLogout}" style="margin: 16px">
                        You've been logged out.
                    </div>
                    <form action="/login" method="post" style="margin: 16px">
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input type="text" class="form-control" id="login" name="login" placeholder="Login" required
                                   oninvalid="this.setCustomValidity('Login must not be empty.')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required
                                   oninvalid="this.setCustomValidity('Password must not be empty.')" oninput="this.setCustomValidity('')">
                        </div>
                        <button type="submit" class="btn btn-dark" style="width: 100%">Log in</button>
                    </form>
                    <form action="/signup" method="get" style="margin: 16px">
                        <label for="no_account">Don't have an account?</label>
                        <button type="submit" class="btn btn-dark" style="width: 100%" id="no_account">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>